<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sds.demo.dao.ComponentMapper">
    <resultMap id="BaseComponent" type="com.sds.demo.Entity.Component">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="desc" property="desc" jdbcType="VARCHAR"/>
        <result column="command" property="command" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getOneByName" parameterType="java.lang.Integer" resultMap="BaseComponent">
        SELECT * FROM component WHERE name = #{name}
    </select>

    <select id="getListByName" parameterType="java.lang.String" resultMap="BaseComponent">
        SELECT * FROM component WHERE name = #{name}
    </select>

    <select id="getAll" resultMap="BaseComponent">
        SELECT * FROM component
    </select>

    <select id="getAllPage"  resultMap="BaseComponent">
        SElECT * FROM component limit #{pageSize} OFFSET #{offset}
    </select>

    <insert id="insertComponent" parameterType="com.sds.demo.Entity.Component" useGeneratedKeys="true" keyProperty="id">
        insert into  `sds`.`component`(`name`,`desc`,`command`,`location`,`create_time`,`update_time`)
        values(
        #{name,jdbcType=VARCHAR},
        #{desc,jdbcType=VARCHAR},
        #{command,jdbcType=VARCHAR},
        #{location,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}
       )
    </insert>

    <update id="updateComponent" parameterType="com.sds.demo.Entity.Component" >
        update  `sds`.`component`
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="command != null">`command` = #{command},</if>
            <if test="location!= null">`location` = #{location},</if>
            `update_time` = #{updateTime,jdbcType=TIMESTAMP}
        </set>
        where id = #{id}
    </update>

    <delete id="deleteComponent" parameterType="java.lang.Integer">
        delete from `component` where id = #{id}
    </delete>
</mapper>