<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sds.demo.dao.TestResultMapper">
    <resultMap id="BaseTestResult" type="com.sds.demo.Entity.DataD">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="case_name" property="caseName" jdbcType="VARCHAR"/>
        <result column="data" property="data" jdbcType="LONGVARCHAR"/>
        <result column="create_time" property="date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getListByCaseName"  parameterType="String" resultMap="BaseTestResult">
        SElECT * FROM test_result
        WHERE case_name = #{name}
        ORDER BY create_time
    </select>

    <select id="getAll"  resultMap="BaseTestResult">
        SElECT * FROM `sds`.`test_result`
        ORDER BY `create_time` DESC
    </select>

    <insert id="insertTestResult" parameterType="com.sds.demo.Entity.DataD" useGeneratedKeys="true" keyProperty="id">
        insert into  `sds`.`test_result` (`case_name`, `data`, `create_time`)
        values(
        #{caseName,jdbcType=VARCHAR},
        #{data, jdbcType=LONGVARCHAR},
        #{date, jdbcType=TIMESTAMP}
       )
    </insert>

    <delete id="deleteAllByCaseName" parameterType="String">
        delete from `sds`.`test_result`
        where case_name = #{name}
    </delete>

</mapper>